{% extends "layouts/webfs.html" %}

{% load template_tags %}
{% load tz %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="row g-5">
        <div class="col-md-12">
            <h2 class="blog-post-title mb-1 pb-1 border-bottom">文件列表</h2>
            <nav>
                <ul class="list-inline mt-2">
                    {% for tag in tagged_tags %}
                    <li class="list-inline-item tag">
                        <a href="{{ index_url }}?{% for tag2 in tagged_tags %}{% if tag.slug != tag2.slug %}{% if not forloop.first %}&{% endif %}tag={{ tag2.slug }}{% endif %}{% endfor %}">
                            <i class="bi-tag"></i>{{ tag.name }}<span>x</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% if date_filters.year and date_filters.month %}
                    <ul class="list-inline mt-2">
                        <li class="list-inline-item date-filter"><a href="{{ index_url }}?year={{ date_filters.year }}"><i class="bi-chevron-left"></i>{{ date_filters.year }}</a></li>
                        {% for day in date_filters.days %}
                        <li class="list-inline-item date-filter"><a href="?year={{ date_filters.year }}&month={{ date_filters.month }}&day={{ day.day }}">{{ day.month|zfill:2 }}月{{ day.day|zfill:2 }}日</a></li>
                        {% endfor %}
                    </ul>
                {% elif date_filters.year %}
                    <ul class="list-inline mt-2">
                        <li class="list-inline-item date-filter"><a href="{{ index_url }}">&nbsp;<i class="bi-chevron-left"></i>所有日期</a></li>
                        {% for month in date_filters.months %}
                        <li class="list-inline-item date-filter"><a href="{{ index_url }}?year={{ month.year }}&month={{ month.month }}">{{ month.year }}年{{ month.month|zfill:2 }}月</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <ul class="list-inline mt-2">
                        {% for year in date_filters.years %}
                        <li class="list-inline-item date-filter"><a href="{{ index_url }}?year={{ year.year }}">{{ year.year }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </nav>
            <article class="blog-post">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>原始路径</th>
                        <th>大小</th>
                        <th>修改日期</th>
                        <th>创建日期</th>
                        <th>标签</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for file in files %}
                    <tr>
                        <td><a href="{{ file_server }}/{{ file.unique_file.file_path }}" target="_blank">{{ file.original_path }}</a></td>
                        <td>{{ file.unique_file.file_size|humanize }}</td>
                        <td>{{ file.unique_file.created_time|timezone:"Asia/Shanghai"|date:"Y-m-d" }}</td>
                        <td>{{ file.unique_file.modified_time|timezone:"Asia/Shanghai"|date:"Y-m-d" }}</td>
                        <td>{% for tag in file.unique_file.tags.all %}{{ tag.name }}{% endfor %}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "includes/pagination.html" with page=files %}
            </article>
        </div>
    </div>
{% endblock %}