.DS_Store
**/.DS_Store
.vscode/
.idea/
*.iml
*.iws
*.ipr

logs/
log/
*.log

data/
static/
media/

__pycache__
*/__pycache__
*.pyc
**/*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache
.pytest_cache
.hypothesis

.tox
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

.cache
.env
env

README.md
*.md
*/*.md
*.sh

.gitignore
.gitattributes
.git/
.git

.dockerignore
Dockerfile
docker-compose.yml
docker-compose.yaml

deploy/
!deploy/nginx.default
!deploy/requirements.txt
!deploy/start-server.sh


