{% extends "layouts/webfs.html" %}

{% load template_tags %}
{% load tz %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="row g-5">
        <div class="col-md-9">
            <h2 class="blog-post-title mb-1 pb-1 border-bottom">重复文件检测</h2>
            <article class="blog-post">
                <table class="table">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>关联数量</th>
                        <th>文件大小</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for file in files %}
                    <tr>
                        <td>
                            <a href="{% url 'webfs:pdf_files' %}?q={{ file.name }}">{{ file.name }}</a>
                        </td>
                        <td>{{ file.name_count }}</td>
                        <td>{{ file.max_file_size|humanize }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "includes/pagination.html" with page=files %}
            </article>
        </div>
    </div>
{% endblock %}